@use 'reset';
@use 'variables' as v;

#root {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  font-family: v.$poppins;
}
.page {
  display: flex;
  flex-direction: column;
  background-color: v.$color-bg;
  border: 3px solid v.$color-primary;
  min-height: 100vh;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
body {
  background: url(/images/fondBody.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
