@use 'reset';
@use 'variables' as v;

body {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  font-family: v.$poppins;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
