@use '../../styles/variables' as v;

.availability {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  &-calendar {
    padding: 1rem;
    width: 50%;
    padding-left: 2rem;
  }
  &-form {
    border: 1px solid v.$color-primary;
    width: 50%;
    height: 100%;
    padding: 1rem;
    &-submit {
      height: 100%;
    }
    &-top {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &-date {
        display: flex;
        justify-content: space-around;
        & span {
          font-weight: bold;
          padding-left: 1rem;
        }
      }
      &-description {
        flex-grow: 1;
        & textarea {
          width: 100%;
          border: 1px solid v.$color-primary;
          border-radius: 1rem;
          resize: none;
        }
      }
    }
    &-bottom {
      width: 100%;
      &-mobility {
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding: 0.5rem;
        & label {
          padding-left: 0.2rem;
        }
      }
      &-animals {
        font-size: 1.1rem;
        &-select {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 1rem 0;
          & label {
            padding-left: 0.2rem;
          }
          &-checkbox {
            width: 26%;
            flex-grow: 1;
            padding-bottom: 0.3rem;
          }
        }
      }
      &-button {
        width: 30%;
        margin: 0 auto;
        & button {
          width: 100%;
          cursor: pointer;
          background-color: v.$color-button;
          color: v.$color-bg;
          border: 1px solid v.$color-button;
          border-radius: 0.3rem;
          padding: 0.5rem 1rem;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}
.react-calendar {
  border: 1px solid v.$color-primary;
  border-radius: 0 0 2rem 2rem;
  width: 60%;
  margin: 0 auto;
  &__tile--now {
    background: #f12828;
  }
  &__navigation {
    background-color: v.$color-primary;
    &__label,
    &__arrow {
      color: v.$color-bg;
      font-weight: bold;
    }
  }
}
