@use '../../styles/variables' as v;

.edit-container-inscription {
  min-width: 70%;
  margin: 0 auto;
  text-align: center;
  & h2 {
    font-size: 3rem;
    margin: 1rem;
  }
  & p {
    padding: 2rem 0;
    text-decoration-line: underline;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    margin: 0 auto;
    &-input {
      padding: 0.5rem;
      border-radius: 1rem;
      border-color: v.$color-primary;
    }
    &-button {
      cursor: pointer;
      background-color: v.$color-primary;
      color: v.$color-bg;
      border-radius: 1rem;
      border-color: v.$color-button;
      padding: 0.5rem;
    }
  }
}

@media (max-width: 463px) {
  .edit-container-inscription {
    width: 100%;
    & h2 {
      font-size: 1.7rem;
    }
    & p {
      font-size: 0.8rem;
      text-align: left;
    }
    &-form {
      width: 85%;
      margin: 0;
    }
  }
}

// media pour ecran tablette
@media (min-width: 464px) and (max-width: 959px) {
  .edit-container-inscription {
    width: 80%;
    & h2 {
      font-size: 2rem;
    }
    &-form {
      width: 80%;
    }
  }
}
