@use '../../styles/variables' as v;

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-top: 1.5rem;
  &-top {
    display: flex;
    justify-content: space-around;
    padding-top: 2.5rem;
    height: 50%;
    margin: auto;
  }
  &-selected {
    text-align: center;
    background-color: v.$color-primary;
    color: v.$color-bg;
    border: 2px solid v.$color-button;
    border-radius: 1rem;
    width: 25%;
    margin: 0 auto;
  }
  &-container {
    width: 50%;
    display: flex;
    height: 100%;

    &-photo {
      // height: 100%;
      // width: 50%;
      max-width: 200px;
      max-height: 200px;
      border: 2px solid v.$color-primary;
      border-radius: 50%;
      align-self: center;
    }
    &-info {
      padding: 1rem 1.8rem;
      margin: auto;
      &-category {
        font-size: 1.4rem;
        font-weight: 600;
        & span {
          font-size: 1.1rem;
          font-weight: 400;
          padding-right: 0.5rem;
        }
      }
      &-contact {
        text-align: center;
        background-color: v.$color-primary;
        color: v.$color-bg;
        border: 2px solid v.$color-button;
        border-radius: 1rem;
      }
    }
  }
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    &-button {
      min-height: 100px;
      height: 50%;
      width: 70%;
      cursor: pointer;
      background-color: v.$color-primary;
      color: v.$color-bg;
      border: 2px solid v.$color-button;
      border-radius: 1rem;
      padding: 0.5rem;
      font-size: 100%;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &-available {
    height: 50%;
    &-description {
      border: 2px solid v.$color-button;
      border-radius: 1rem;
      margin-bottom: 2rem;
      padding: 1rem 3rem;
      &-text {
        height: 10vh;
        overflow: scroll;
      }
      & h3 {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    &-entrie {
      display: flex;
      justify-content: center;
      gap: 3rem;
      &-title {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      &-card {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding: 1rem;
        max-height: 20rem;
        // overflow: scroll;
      }
      &-period {
        border: 2px solid v.$color-button;
        border-radius: 1rem;
        padding: 1rem;
        width: 30%;
        // overflow: scroll;
        &-date {
          font-weight: 700;
        }
      }
      &-animals {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
      }
      &-options {
        text-align: end;
        &-button {
          cursor: pointer;
          margin-left: 0.2rem;
          background-color: v.$color-primary;
          color: v.$color-bg;
          border: 2px solid v.$color-button;
          border-radius: 1rem;
          padding: 0.5rem;
          font-size: 0.8rem;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}

// Media query for screens smaller than 800px
@media (width < 1500px) {
  .profile {
    &-top {
      flex-direction: column;
    }
    &-available {
      margin-top: 20px;
    }
    &-container {
      width: 75%;
      margin: auto;
      align-self: center;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      &-photo {
        margin: auto;
      }
      &-info {
        &-category {
          font-size: 1.2rem;
        }
      }
    }
    &-link {
      // margin-top: 5rem;
      margin-left: 50px;
    }
  }
  .profile-available-entrie-period {
    min-width: 350px;
    overflow: scroll;
  }
}

@media (width < 500px) {
  body {
    min-width: 500px;
  }
  .profile {
    &-top {
      flex-direction: column;
    }
    &-container {
      width: 75%;
      margin: auto;
      align-self: center;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      &-photo {
        margin: auto;
      }
      &-info {
        &-category {
          font-size: 1.1rem;
        }
      }
    }
  }
}
