@use '../../../styles/variables' as v;

.selection {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;

  &-card {
    width: 30%;
    max-width: 25rem;
    border: 1px solid v.$color-primary;
    border-radius: 1rem;
    background-color: v.$color-primary;
    color: v.$color-bg;
    transition:
      litleBump 700ms,
      box-shadow 700ms;
    &:hover {
      animation: litleBump 700ms forwards;
    }
    &:not(:hover) {
      animation: litleBumpLeave 700ms forwards;
    }
    & p {
      color: v.$color-secondary;
      margin-left: 0.8rem;
    }
    & a {
      text-decoration: none;
    }
    & img {
      border-radius: 1rem 1rem 0 0;
      width: 100%;
    }
    & h3,
    h4 {
      color: v.$color-secondary;
      padding: 0.8rem;
    }
    & h3 {
      font-size: 1.5rem;
    }
  }
  &-card:nth-last-child(-n + 2) {
    align-content: flex-start;
  }
}

// Media query for smartphones below 768px
@media (max-width: 767px) {
  .selection {
    &-card {
      width: 90%;
      & p {
        margin-left: 0.8rem;
        color: v.$color-secondary;
      }
    }
  }
}
// Media query for tabletd between 768px & 959px
@media (min-width: 768px) and (max-width: 959px) {
  .selection {
    justify-content: center;
    &-card {
      width: 45%;
      & p {
        margin-left: 0.8rem;
        color: white;
      }
    }
  }
}

@keyframes litleBump {
  from {
    transform: translateY(0);
    box-shadow: 0;
  }

  to {
    transform: translateY(-20px);
    box-shadow: 10px 10px 2px 2px grey;
  }
}

@keyframes litleBumpLeave {
  from {
    transform: translateY(-20px);
    box-shadow: 10px 10px 2px 2px grey;
  }
  to {
    transform: translateY(0);
    box-shadow: 0;
  }
}
