@use '../../../styles/variables' as v;

.selection {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  &-card {
    width: 20%;
    max-width: 25rem;
    border: 1px solid v.$color-primary;
    border-radius: 1rem;
    background-color: v.$color-primary;
    color: v.$color-bg;
    & a {
      text-decoration: none;
    }
    & img {
      border-radius: 1rem 1rem 0 0;
    }
    & h3,
    h4 {
      color: v.$color-bg;
      padding: 0.8rem;
    }
    & h3 {
      font-size: 1.5rem;
    }
  }
}

// Media query for smartphones below 768px
@media (max-width: 767px) {
  .selection {
    &-card {
      width: 90%;
      & p {
        margin-left:0.8rem;
        color:white;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .selection {
    justify-content: center;
    &-card {
      width: 45%;
      & p {
        margin-left:0.8rem;
        color:white;
      }
    }
  }
}