@use '../../../styles/variables' as v;
.header {
  display: flex;
  background-color: v.$color-primary;
  height: 7rem;
  &-nav {
    display: flex;
    &-list-link a {
      font-size: 1.3rem;
    }
  }
  &-link {
    display: contents;
  }
  &-logo {
    height: 100%;
    width: auto;
  }
  &-position {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    &-left {
      text-align: left;
      display: flex;
    }
    &-right {
      text-align: end;
      padding: 1rem 4rem;
      z-index: 1;
      width: 30%;
      flex-grow: 1;
    }
  }
  &-nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
    &-link {
      &-dir {
        text-decoration: none;
        color: v.$color-bg;
        font-size: 1.8rem;
      }
    }
  }
  &-buttons {
    width: 100%;
    padding-top: 2rem;
    &-button {
      cursor: pointer;
      margin: 1rem;
      background-color: v.$color-button;
      color: v.$color-bg;
      border: 1px solid v.$color-button;
      border-radius: 0.3rem;
      padding: 0.5rem;
      font-size: 1.1rem;
      font-weight: bold;
      text-decoration: none;
      &-connected {
        visibility: hidden;
      }
      &-picture {
        width: 5rem;
        height: 5rem;
        border-radius: 20% 20% 20% 20%;
        border: 2px solid v.$color-button;
        background-color: v.$color-primary;
        box-shadow: inset 0 0rem 1rem v.$color-button;
        overflow: hidden;
        cursor: pointer;

        &-disconnect {
          visibility: hidden;
          width: 5rem;
          height: 5rem;
        }
        & img {
          height: 100%;
        }
      }
    }
  }
}
.connect {
  &-navBar {
    background-color: v.$color-primary;
    color: v.$color-bg;
    border: 2px solid v.$color-button;
    border-radius: 0.3rem;
    padding: 0.3rem 0 0.5rem 0.3rem;
    width: 12rem;
    text-align: left;
    position: absolute;
    right: 1rem;
    &-hidden {
      visibility: hidden;
    }
    & ul {
      padding-left: 0.5rem;
    }
    & li {
      list-style-type: none;
      padding: 0;
    }
    &-menu {
      cursor: pointer;
      text-decoration: none;
      color: v.$color-bg;
      &-closed {
        background-color: v.$color-button;
        border-radius: 1rem;
        border: 2px solid v.$color-button;
        padding: 0.2rem;
        cursor: pointer;
      }
    }
  }
}
// Media query for smartphones below 768px
@media (max-width: 767px) {
  .header {
    height: 5rem;
    &-link {
      display: contents;
    }
    &-logo {
      height: 100%;
      width: auto;
    }
    &-position-left {
      display: flex;
    }
    &-nav {
      display: flex;
    }
    &-nav-list-link a {
      font-size: 1rem;
    }
    &-nav-list {
      align-items: center;
    }
    // "home" link is hidden on small screens
    &-nav-list-link:first-of-type {
      display: none;
    }
    &-position-right {
      display: flex;
      padding: 0rem 0rem;
      width: 50%;
    }
    &-buttons {
      padding-top: 0;
      align-content: center;
      &-button {
        font-size: 0.75rem;
        padding: 0.25rem;
        font-weight: normal;
        margin: 0.4rem;
      }
    }
  }
}
// Media query for tabletd between 768px & 959px
@media (min-width: 768px) and (max-width: 959px) {
  .header {
    height: 7rem;
    &-link {
      display: contents;
    }
    &-logo {
      height: 100%;
      width: auto;
    }
    &-position-left {
      display: flex;
    }
    &-nav {
      display: flex;
    }
    &-nav-list-link a {
      font-size: 1.2rem;
    }
    &-nav-list {
      align-items: center;
    }
    // "home" link is hidden on small screens
    &-nav-list-link:first-of-type {
      display: none;
    }
    &-position-right {
      display: flex;
      padding: 0rem 0rem;
      width: 50%;
    }
    &-buttons {
      padding-top: 0;
      align-content: center;
    }
  }
}
