@use '../../../styles/variables' as v;
.header {
  display: flex;
  background-color: v.$color-primary;
  min-height: 9rem;
  height: 9rem;
  &-logo {
    width: 8rem;
  }
  &-position {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-left {
      text-align: left;
    }
    &-right {
      // margin-right: 5rem;
      padding: 1rem 1rem;
      position: relative;
      z-index: 1;
      width: 30%;
    }
  }
  &-nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style-type: none;
    padding: 2rem 1rem;
    cursor: pointer;
    &-link {
      &-dir {
        text-decoration: none;
        color: v.$color-bg;
        font-size: 1.8rem;
      }
    }
  }
  &-buttons {
    width: 100%;
    padding-top: 2rem;
    &-button {
      cursor: pointer;
      margin: 1rem;
      background-color: v.$color-button;
      color: v.$color-bg;
      border: 1px solid v.$color-button;
      border-radius: 0.3rem;
      padding: 0.5rem;
      font-size: 1.1rem;
      font-weight: bold;
      text-decoration: none;
      &-connected {
        visibility: hidden;
      }
      &-picture {
        width: 5rem;
        height: 5rem;
        border-radius: 20% 20% 20% 20%;
        border: 2px solid v.$color-button;
        background-color: v.$color-primary;
        box-shadow: inset 0 0rem 1rem v.$color-button;
        overflow: hidden;
        cursor: pointer;
        &-disconnect {
          visibility: hidden;
          width: 5rem;
          height: 5rem;
        }
        & img {
          height: 100%;
        }
      }
    }
  }
}
.connect {
  position: absolute;
  top: 7rem;
  right: -2.5rem;
  &-navBar {
    background-color: v.$color-primary;
    color: v.$color-bg;
    border: 2px solid v.$color-button;
    border-radius: 0.3rem;
    padding: 0.3rem 0 0.5rem 0.3rem;
    width: 12rem;
    &-hidden {
      visibility: hidden;
    }
    & ul {
      padding-left: 0.5rem;
    }
    & li {
      list-style-type: none;
      padding: 0;
    }
    &-menu {
      cursor: pointer;
      text-decoration: none;
      color: v.$color-bg;
      &-closed {
        background-color: v.$color-button;
        border-radius: 1rem;
        border: 2px solid v.$color-button;
        padding: 0.2rem;
        cursor: pointer;
      }
    }
  }
}
