@use '../../../styles/variables' as v;

.react-calendar__tile--now {
  background-color: v.$color-primary;
  color: v.$color-bg;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: v.$color-primary;
}
.react-calendar {
  margin: 0 auto;
  &__navigation {
    background-color: v.$color-primary;
    font-weight: bold;
  }
}
